<aside class="sidebar">
    <div class="sidebar-top">

        <!-- LOGO -->
        <div class="logo">
            <div class="logo-icon">
                <i class="fa-solid fa-chart-line"></i>
            </div>

            <div class="logo-text">
                <h2>Workforce</h2>
                <span>Analytics Platform</span>
            </div>
        </div>

        <!-- MENU -->
        <nav class="sidebar-menu">
            <ul>
                <li>
                    <a href="#" data-page="dashboard">
                        <i class="fa-solid fa-house"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="#" data-page="emp-management">
                        <i class="fa-solid fa-house"></i>
                        <span>Employee Management</span>
                    </a>
                </li>

                <li>
                    <a href="#" data-page="organization">
                        <i class="fa-solid fa-calendar-check"></i>
                        <span>Organization</span>
                    </a>
                </li>

                <li>
                    <a href="#" data-page="leave-management">
                        <i class="fa-solid fa-calendar-days"></i>
                        <span>Leave Management</span>
                    </a>
                </li>

                <li>
                    <a href="#" data-page="command center">
                        <i class="fa-solid fa-wallet"></i>
                        <span>Command Center</span>
                    </a>
                </li>

                <li>
                    <a href="#" data-page="system-settings">
                        <i class="fa-solid fa-user"></i>
                        <span>System Settings</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <!-- BOTTOM -->
    <div class="sidebar-bottom">
        <ul>
            <li>
                <a href="#">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>

</aside>

