/* TODAY SECTION */
.today-section{
    display:grid;
    grid-template-columns:2fr 1fr;
    gap:25px;
}

.timeline-card,
.hours-card{
    background:white;
    border-radius:var(--radius-lg);
    padding:25px;
    box-shadow:var(--shadow-sm);
}

.timeline{
    position:relative;
    margin-top:20px;
}

.timeline::before{
    content:"";
    position:absolute;
    left:11px;
    top:0;
    bottom:0;
    width:2px;
    background:#D9E2F2;
}

.event{
    display:flex;
    gap:20px;
    margin-bottom:35px;
    position:relative;
}

.dot{
    width:24px;
    height:24px;
    border-radius:50%;
    background:var(--primary);
    border:5px solid white;
    box-shadow:0 0 0 2px var(--primary);
    z-index:2;
}

.details h4{
    margin-bottom:6px;
}

.details span{
    color:var(--text-light);
}

.hours-card{
    display:flex;
    flex-direction:column;
    justify-content:center;
    gap:25px;
}

.hours-box{
    background:#F8FAFC;
    padding:25px;
    border-radius:15px;
    text-align:center;
}

.hours-box h1{
    font-size:42px;
    color:var(--primary);
}

.hours-box h2{
    font-size:34px;
    color:var(--success);
}

.hours-box span{
    display:block;
    margin-top:8px;
    color:var(--text-light);
}