<!--              hr          -->
<aside class="sidebar">
    <div class="sidebar-top">
        <div class="logo">
            <div class="logo-icon">
                <i class="fa-solid fa-chart-line"></i>
            </div>
            <div class="logo-text">
                <h2>Workforce</h2>
                <span>Analytics Platform</span>
            </div>
        </div>

        <nav class="sidebar-menu">
            <ul>
                <li>
                    <a href="./dashboard.html" data-page="dashboard">
                        <i class="fa-solid fa-house"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="./employee-management.html" data-page="employee-management">
                        <i class="fa-solid fa-users"></i>
                        <span>Employee Mgt</span>
                    </a>
                </li>
                <li>
                    <a href="./attendance.html" data-page="attendance">
                        <i class="fa-solid fa-calendar-check"></i>
                        <span>Attendance</span>
                    </a>
                </li>
                <li>
                    <a href="./leave.html" data-page="leave">
                        <i class="fa-solid fa-calendar-days"></i>
                        <span>Leave Mgmt</span>
                    </a>
                </li>
                <li>
                    <a href="./payroll.html" data-page="payroll">
                        <i class="fa-solid fa-wallet"></i>
                        <span>Payroll</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="sidebar-bottom">
        <ul>
            <li>
                <a href="#">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</aside>