<!--              admin          -->
<aside class="sidebar">
    <div class="sidebar-top">
        <div class="logo">
            <div class="logo-icon">
                <i class="fa-solid fa-chart-line"></i>
            </div>
            <div class="logo-text">
                <h2>Workforce</h2>
                <span>Analytics Platform</span>
            </div>
        </div>

        <nav class="sidebar-menu">
            <ul>
                <li>
                    <a href="./dashboard.html" data-page="dashboard">
                        <i class="fa-solid fa-house"></i>
                        <span>Dashboard</span>
                    </a>
                </li>
                <li>
                    <a href="./user-management.html" data-page="user-management">
                        <i class="fa-solid fa-users-gear"></i>
                        <span>User Mgt</span>
                    </a>
                </li>
                <li>
                    <a href="./roles.html" data-page="roles">
                        <i class="fa-solid fa-user-shield"></i>
                        <span>Roles</span>
                    </a>
                </li>
                <li>
                    <a href="./audit.html" data-page="audit">
                        <i class="fa-solid fa-clipboard-list"></i>
                        <span>Audit Logs</span>
                    </a>
                </li>
                <li>
                    <a href="./settings.html" data-page="settings">
                        <i class="fa-solid fa-gear"></i>
                        <span>Settings</span>
                    </a>
                </li>
            </ul>
        </nav>
    </div>

    <div class="sidebar-bottom">
        <ul>
            <li>
                <a href="#" class="logout-btn" onclick="performLogout(event)">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>
</aside>