<aside class="sidebar">

    <div class="sidebar-top">

        <!-- LOGO -->
        <div class="logo">
            <div class="logo-icon">
                <i class="fa-solid fa-chart-line"></i>
            </div>

            <div class="logo-text">
                <h2>Workforce</h2>
                <span>Analytics Platform</span>
            </div>
        </div>

        <!-- MENU -->
        <nav class="sidebar-menu">
            <ul>
                <li class="active">
                    <a href="./dashboard.html">
                        <i class="fa-solid fa-house"></i>
                        <span>Dashboard</span>
                    </a>
                </li>

                <li>
                    <a href="./attendance.html">
                        <i class="fa-solid fa-calendar-check"></i>
                        <span>Attendance</span>
                    </a>
                </li>

                <li>
                    <a href="./leave.html">
                        <i class="fa-solid fa-calendar-days"></i>
                        <span>Leave Management</span>
                    </a>
                </li>

                <li>
                    <a href="./payroll.html">
                        <i class="fa-solid fa-wallet"></i>
                        <span>Payroll</span>
                    </a>
                </li>

                <li>
                    <a href="./personal-info.html">
                        <i class="fa-solid fa-user"></i>
                        <span>Personal Info</span>
                    </a>
                </li>
            </ul>
        </nav>

    </div>

    <!-- BOTTOM -->
    <div class="sidebar-bottom">
        <ul>
            <li>
                <a href="#">
                    <i class="fa-solid fa-right-from-bracket"></i>
                    <span>Logout</span>
                </a>
            </li>
        </ul>
    </div>

</aside>